<form #frmMsi="ngForm" (ngSubmit) = submit(frmMsi)>
  <div class="col-sm-4">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input ngModel required #firstName="ngModel" type="text" class="form-control" name="firstName">
        <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
          <div>First Name required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input ngModel required #lastName="ngModel" type="text" class="form-control" name="lastName">
        <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
          <div>Last Name required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="mi">Mi</label>
        <input ngModel required #mi="ngModel" type="text" class="form-control" name="mi">
        <div *ngIf="mi.touched && mi.invalid" class="alert alert-danger">
          <div>Mi is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="suffix">Suffix</label>
        <input ngModel required #suffix="ngModel" type="text" class="form-control" name="suffix">
        <div *ngIf="suffix.touched && suffix.invalid" class="alert alert-danger">
          <div>Suffix is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input ngModel required #address="ngModel" type="text" class="form-control" name="address">
        <div *ngIf="address.touched && address.invalid" class="alert alert-danger">
          <div>Address is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input ngModel required #city="ngModel" type="text" class="form-control" name="city">
        <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
          <div>City is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input ngModel required #state="ngModel" type="text" class="form-control" name="state">
        <div *ngIf="state.touched && state.invalid" class="alert alert-danger">
          <div>State is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="zip">Zip</label>
        <input ngModel required #zip="ngModel" type="text" class="form-control" name="zip">
        <div *ngIf="zip.touched && zip.invalid" class="alert alert-danger">
          <div>Zip is required</div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled] = "!frmMsi.valid">Submit</button>
  </div>
</form>